---
- name: Add Kubernetes helper functions
  template:
    src: k8s-helpers.sh.j2
    dest: "~{{ item }}/.k8s-helpers.sh"
    mode: '0755'
    owner: "{{ item }}"
    group: "{{ item }}"
  loop: "{{ environment_users }}"

- name: Source k8s helpers in bashrc
  lineinfile:
    path: "~{{ item }}/.bashrc"
    line: '[[ -f ~/.k8s-helpers.sh ]] && source ~/.k8s-helpers.sh'
    owner: "{{ item }}"
    group: "{{ item }}"
  loop: "{{ environment_users }}"
  when: environment_configure_bash | default(true)
