---
- name: Download Helm binary
  get_url:
    url: "https://get.helm.sh/helm-v{{ helm_version }}-linux-{{ architecture }}.tar.gz"
    dest: /tmp/helm.tar.gz

- name: Extract and install Helm
  unarchive:
    src: /tmp/helm.tar.gz
    dest: /tmp
    remote_src: yes
    creates: "/tmp/linux-{{ architecture }}/helm"

- name: Move Helm binary to /usr/local/bin
  copy:
    src: "/tmp/linux-{{ architecture }}/helm"
    dest: /usr/local/bin/helm
    mode: '0755'
    remote_src: yes

- name: Install Helm bash completion
  command: /usr/local/bin/helm completion bash
  register: helm_completion
  changed_when: false

- name: Write Helm bash completion
  copy:
    content: "{{ helm_completion.stdout }}"
    dest: /etc/bash_completion.d/helm
    mode: '0644'
