#pip.yaml
---
- name: Create Python virtual environment for pip packages
  ansible.builtin.command:
    cmd: python3 -m venv "{{ venv_path }}"
  args:
    creates: "{{ venv_path }}/bin/activate"

- name: Upgrade pip in the virtual environment
  ansible.builtin.command:
    cmd: "{{ venv_path }}/bin/pip install --upgrade pip"

- name: Install Python pip packages in virtual environment
  ansible.builtin.pip:
    name: "{{ common_pip_packages }}"
    virtualenv: "{{ venv_path }}"
    virtualenv_command: python3 -m venv
  when: common_pip_packages | length > 0
